<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="css/style.css" type="text/css" />-->
    <!--<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Spirax" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->


<!--<table>-->
    <!--<tr>-->
        <!--<td >-->
            <!--<h3 th:text="${fruit.name}"></h3>-->
        <!--</td>-->
        <!--<td >-->
            <!--<p th:if="${fruit.img}" !=" null">-->
                <!--<img th:src="${fruit.img}" width="300px" height="300px"/>-->
            <!--</p>-->
        <!--</td>-->
        <!--<td><a th:href="@{/update/{id}(id=${fruit.id})}">Update</a></td>-->
    <!--</tr>-->
<!--</table>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

 <!--th:each="meme: ${memes}">-->
    <!---->
        <!--<h3 th:text="${meme.headline}"></h3>-->
        <!--<p th:if="${meme.image}" !=" null">-->
            <!--<img th:src="${meme.image}" width="300px" height="300px"/>-->
        <!--</p>-->
        <!--<h3 th:text="${meme.headline2}"></h3>-->
    <!--</div>-->

    <!--<div >-->
        <!--<h3 th:text="${meme.description}"></h3>-->
    <!--</div>-->

    <!--<div class="col" style="background:rosybrown">-->
        <!--<a th:href="@{/update/{id}(id=${meme.id})}">Update</a><br/>-->
        <!--<a th:href="@{/detail/{id}(id=${meme.id})}">Details</a><br/>-->
        <!--<a th:href="@{/delete/{id}(id=${meme.id})}">Delete</a><br/>-->
    <!--</div>-->
    <!---->
<!--</body>-->
<!--</html>-->