<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Spirax" rel="stylesheet">
</head>
<body>
<div class="container">

    <h4 class="text-center"><a href="/">Return to home</a></h4>
    <div class="alert alert-info">
        <div class="col-container">
<table>
    <tr>
        <td>
            <h3 th:text="${fruit.name}"></h3>
        </td>
        <td>
            <h3 th:text="${fruit.hours}"></h3>
        </td>
        <td>
            <h3 th:text="${fruit.name}"></h3>
        </td>
        <td>
            <p th:if="${fruit.img}" !=" null">
                <img th:src="${fruit.img}" width="300px" height="300px"/>
            </p>
        </td>
    </tr>
</table>
        </div>
    </div>
</div>
</body>
</html>